.wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap:45px;
}

.search-form {
    display: flex;
    flex-direction: column;
}

.search-form__search-input {
    height: 44px;
}

.item-search{
    box-sizing: border-box;
    background-color: #E3E3E3;
    border: #000000 solid 2px;
    height: 44px;
    width: 500px;
    list-style-type: none;
    font-size: 35px;
    overflow: hidden;
}

.item-search:hover{
    background-color: #65CDF9;
}

.list-search{
    padding: 0;
    margin: 0;
}

.item-repo{
    position: relative;
    padding: 8px 16px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #E27BEB;
    border: #000000 solid 2px;
}

.item-repo__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-repo__text p{
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.delete-icon {
    position: absolute;
    top: 44px;
    right: 20px;
    width: 45px;
    height: 45px;
    opacity: 0.2;
    cursor: pointer;
    transition: opacity ease 0.5s;
}

.delete-icon:hover {
     opacity: 1;
 }

.delete-icon::before,
.delete-icon::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 45px;
    height: 4px;
    background: #FF0000;
}

.delete-icon::before {
    transform: rotate(45deg);
}

.delete-icon::after {
    transform: rotate(-45deg);
}